@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vertical-scrollbar {
  overflow-y: scroll;
}

.horizontal-scrollbar {
  overflow-x: scroll;
}

.vertical-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb,
.vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
}

.line-shadow {
  transition: 0.5s;
  box-shadow: 0.04em 0.04em 0.3em rgba(63, 98, 18, 0.5),
    -0.04em 0.04em 0.3em rgba(63, 98, 18, 0.5);
}
.line-shadow-on-hover {
  transition: 0.5s;
}

.line-shadow-on-hover:hover,
.on-focus-shadow:focus {
  box-shadow: 0.04em 0.04em 0.3em rgba(63, 98, 18, 0.5),
    -0.04em 0.04em 0.3em rgba(63, 98, 18, 0.5);
}
