@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-content {
  background-color: "rgba(255, 255, 255, .8)";
  border: "none";
}

.line-shadow {
  transition: 0.5s;
  box-shadow: 0.04em .04em 0.3em rgba(63, 98, 18, 0.5), -0.04em 0.04em 0.3em rgba(63, 98, 18, 0.5);
}
.line-shadow-on-hover {
  transition: 0.5s;
}

.line-shadow-on-hover:hover,
.on-focus-shadow:focus {
  box-shadow: 0.04em .04em 0.3em rgba(63, 98, 18, 0.5), -0.04em 0.04em 0.3em rgba(63, 98, 18, 0.5);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */